body {
    background-color: white;
}

.sections{
	width: 100%;
	height: 100%;
}

.welcome_holder {
	position: relative;
	background: #00a5ce;
	border: solid #9c9dad;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	height: auto;
	width: 100%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.welcome_holder:after, .welcome_holder:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.welcome_holder:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #00a5ce;
	border-width: 30px;
	margin-left: -30px;
}
.welcome_holder:before {
	border-color: rgba(156, 157, 173, 0);
	border-top-color: #9c9dad;
	border-width: 31px;
	margin-left: -31px;
}

#bubbles {
	position: absolute;
	width: 100%;
	height: 425px;
}

.offer {
	position: relative;
	left: 70%;
	margin-top: -10vh;
    z-index: 15;
	color: #fff;
	background: #b7b900;
	width: 22vw;
	min-width: 90px;
	min-height: 50px;
	height: auto;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 1px;
	font-size: 28px;
	font-size: 1.75vw;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 1.5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Safari */
    transform: rotate(4deg); /* Standard syntax */
}

.offer:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 16px 16px 0;
	border-style: solid;
	border-color: #00a5ce #00a5ce #ddde65 #ddde65;
	background: #b7b900;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display: block;
	width: 0;
}

#price {
	color: #595a02;
	font-weight:bold;
}

.welcome_text {
	text-align: center;
	color: white;
	font-size: 26px;
	align-items: center;
	justify-content: center;
	font-size: 3vmax;
}

#welcome_title {
	font-size: 10vmin;
	font-weight: 100;
	margin-top: 3vh;
}
#welcome_title_text {
	margin-top: 40px;
	margin-bottom: 7vw;
	font-size: 5vmin;
}

.logo {
	background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
	min-height: 60px;
	width: 65vw;
	max-width: 260px;
	float: left;
	margin-left: 3vw;
	margin-top: 8px;
}

.menu_item {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	margin: 0px 20px 0px 20px;
	color: white;
	margin-top: 20px;
}

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	min-height: 120px;
	max-height: 120px;
	margin-right: 15px;
	padding-top: 35px;
	text-align: right;
	white-space: nowrap;
}
.navbar-custom .navbar-toggle {
    border-color: white;
	border-width: 1px;
    width: 60px;
    height: 60px;
	top: 31px;
	right: -10px;
	position: absolute;
	
}
.navbar-custom .navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
	border-width: 5px;
	border-color: white;
	margin-top: 8px;
	margin-bottom: 10px;
}

@media (max-width: 1045px) {
    .navbar-custom .navbar-header {
        float: none;
    }
    .navbar-custom .navbar-toggle {
        display: block;
    }
    .navbar-custom .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-custom .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-custom .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-custom .navbar-nav>li {
        float: none;
    }
    .navbar-custom .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.wash_holder {
    width:100%;
}

.wash {
	position: relative;
	background: #ffffff;
	border: solid #9c9dad;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	height: 300px;
	width: 100%;
}
.wash:after, .wash:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.wash:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.wash:before {
	border-color: rgba(156, 157, 173, 0);
	border-top-color: #9c9dad;
	border-width: 31px;
	margin-left: -31px;
}

#time, #pay {
	text-align: center;
	color: #666666;
	font-size: 50px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	padding-top: 18px;
	font-weight: 100;
	height: 350px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
#clock, #number {
	margin-top: 10px;
    margin-bottom: 10px;
}

.time_button, .pay_button {
	border: 1px solid #a1a1a1;
	padding-left: 10%;
	padding-right: 10%;
    background: #fff;
    width: 100%;
    height: 70px;
    border-radius: 40px;
	font-weight: 100;
	font-size: 3vmax;
    text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=radio] {
	display: none;
}

input[type=radio]:checked+label div {
	background: #eb1484;
	color: #ffffff;
}

.time_button:hover, .pay_button:hover {
	background: #eb1484;
    color: #ffffff;
}

.label-filler {
	color: #eb1484;
}

.info {
	position: relative;
	background: #eb1484;
	border: solid #ffe0fb;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	top: -32px;
    z-index: -5;
	height: 620px;
}
.info:after, .info:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.info:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #eb1484;
	border-width: 30px;
	margin-left: -30px;
}
.info:before {
	border-color: rgba(156, 157, 173, 0);
	border-top-color: #ffe0fb;
	border-width: 31px;
	margin-left: -31px;
}

.sharp {
    /*Make the element have sharp edges.*/
    border-radius: 0 !important;
}
.input_container {
    z-index: 60;
    margin-top: -620px;
    padding-left: 15px;
    padding-right: 15px;
}
.input_container input, .input_container #city {
    height:55px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
	margin-left: 6.3%;
}

.color_holder {
	width: 200px;
	height: 70px;
	background: white;
	float: right;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

.color_label {
	color: white;
	font-size: 25px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: 100;
	padding-top: 16px;
}
.color {
	background: red;
	width: 31px;
	height: 30px;
	margin: 2px 1px 1px 1px;
	float: left;
}
.color1{
	background: red;
}
.color2{
	background: magenta;
}
.color3{
	background: #9900cc;
}
.color4{
	background: blue;
}
.color5{
	background: cyan;
}
.color6{
	background: #595959;
}
.color7{
	background: lime;
}
.color8{
	background: yellow;
}
.color9{
	background: orange;
}
.color10{
	background: white;
}
.color11{
	background: black;
}
.color12{
	background: #cccccc;
}

.btn-custom {
	width: 100%;
	height: 70px;
	background: white;
	padding-top: 30px;
    margin-top: 20px;
}
.btn_text {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 40px;
	color: #666666;
	/*margin-top: 30px;*/
}
