body {
    background-color: white;
}

.sections{
	width: 100%;
	height: 100%;
}

.welcome_holder  {
	width: 100%;
	height: 425px;
	background-image: url("header-background.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.welcome_text {
	text-align: center;
	color: white;
	font-size: 24px;
}

#welcome_title {
	font-size: 60px;
	font-weight: 100;
	margin-top: 20px;
}
#welcome_title_text {
	margin-top: -40px;
}

.logo {
	background-image: url("logo.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
	height: 60px;
	width: 260px;
	float: left;
	margin-left: 60px;
	margin-top: 45px;
}

.menu {
	height: 60px;
	width: calc(100% - 465px);
	margin-left:420px;
	margin-right: 45px;
	padding-top: 45px;
	text-align: right;
}
.menu_item {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	float: right;
	margin: 0px 30px 0px 30px;
	color: white;
}

.wash {
	position: relative;
	background: #ffffff;
	border: solid #9c9dad;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	height: 300px;
}
.wash:after, .wash:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.wash:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.wash:before {
	border-color: rgba(156, 157, 173, 0);
	border-top-color: #9c9dad;
	border-width: 31px;
	margin-left: -31px;
}

.info {
	position: relative;
	background: #eb1484;
	border: solid #ffe0fb;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	top: -32px;
    z-index: -5;
	height: 310px;
}
.info1 {
	position: relative;
	background: #eb1484;
	border: solid #ffe0fb;
    border-width: 0px 0px 1px 0px;
	margin-bottom: 32px;
	top: -64px;
    z-index: -6;
	height: 450px;
}
.info:after, .info:before, .info1:after, .info1:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.info:after, .info1:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #eb1484;
	border-width: 30px;
	margin-left: -30px;
}
.info:before, .info1:before {
	border-color: rgba(156, 157, 173, 0);
	border-top-color: #ffe0fb;
	border-width: 31px;
	margin-left: -31px;
}